---
import { fetchUsers, fetchVehiculos } from '../utils/fetch';
import Layout from '../layouts/Layout.astro';
import CardUser from '../components/CardUser.astro';
//import Pagination from '../components/Pagination.astro';
import type { Usuario, Vehiculo } from '../types';

// Suponiendo que tienes un estado para la página actual
/* let currentPage: number = 1;
const numUsuarios = await fetchNumUsers();
const limit = 5;
const numPaginas = Math.ceil(numUsuarios / limit);

export async function getStaticPaths(numPaginas: number) {
  let paths = [];
  for (let i = 1; i <= numPaginas; i++) {
    paths.push({ params: { pagina: i } });
  }

  return paths;
}

export async function getStaticProps({ params }) {
  currentPage = params.pagina;
  return {
    props: {
      currentPage,
      numPaginas,
    },
  };
} */

const usuarios: Usuario[] = await fetchUsers(0, 1000);
const vehiculos: Vehiculo[] = await fetchVehiculos(0, 1000);
---


<Layout title="Usuarios">
    <section class="flex flex-col items-center justify-center w-full h-full gap-3 py-10">
        <h1 class="text-2xl font-bold text-white lg:text-4xl pb-4">Usuarios</h1>
        {usuarios.map((user) => (
            <CardUser 
              key={user.id}
              userName={user.nombre}
              lastName={user.apellidos} 
              userCars={vehiculos.filter((car) => car.id_usuario === user.id)} 
            />
          ))}
        <!-- <Pagination /> -->
    </section>
</Layout>